.container-contact-form{
    &::after {
        position: absolute;
        content: '';
    }
}

.contact-form {
    position: relative;
    width: 355px;
    max-width: 355px;
    min-width: auto;
    left: calc(50% - 10px);
    transform: translateX(-50%);
    bottom: 20px;
}

.contact-form__title {
    font-size: rem(16px);
    &::after {
        position: absolute;
        content: '';
        top: 47px;
        left: 130px;
    }
    &::before {
        position: absolute;
        content: '';
    }
}

.container-map__gMap{
    position: relative;
    height: 300px;
}