.container-contact-form{
    &::after {
        position: absolute;
        content: '';
    }
}

.contact-form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 355px;
    max-width: 355px;
    min-width: auto;
    left: calc(50% - 10px);
    transform: translateX(-50%);
    bottom: 42px;
}

.contact-form__title {
    font-size: rem(16px);
    &::after {
        top: 6px;
        left: 130px;
    }
    &::before {
        content: '';
    }
}