.container-major__num1 {
    top: rem(343px);
    right: rem(6px);
    content: '01.';
    font-size: rem(24px);
}

.container-major__num2 {
    top: 952px;
    right: rem(6px);
    content: '02.';
    font-size: rem(24px);
}