//min-with:768px
.container-major__num {
    font-size: rem(24px);
    right: rem(6px);
}

.container-major__num1 {
    top: rem(343px);
}

.container-major__num2 {
    top: 952px;
}

.container-major__num3 {
    top: 1785px;
}