.container-major {
    &::before {
        width: calc(100% - 60px);
        height: calc(100% - 60px);
        top: rem(60px);
    }
}

.topMenu__list {
    top: 48px;
}

.topMenu__link_facebook_svg-icon,
.topMenu__link_instagram_svg-icon,
.topMenu__link_share_svg-icon {
    &:hover{
        fill: #7b7b7b;
    }
}