//1300
.teamPage-mainContainer {
    max-width: calc(100% - 60px);
    max-height: calc(100% - 60px);
    margin: 60px 60px 60px 0;
    padding: 1rem;
}

.teamPage-header__link:hover {
    transition: 0.1s ease;
    transform: scale(1.1);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.teamPage__footMenu_svg-icon {
    transition: 0.5s ease;
    &:hover {
        transform: scale(1.2);
    }
}
