//550px

.teamPage-header__link-home {
    right: 19rem;
}
.teamPage-header__link-homePortfolio {
    right: 9rem;
}

.teamPage-header__link-homeContact {
    right: rem(7px);
}

.teamPage-header__title {
    font-size: 4.5rem;
    padding-left: 1rem;
}

.teamPage__footMenu_svg-icon {
    display: inline-block;
}

