//mobile
// ========================pageCover===========
.container-pageCover {
    //border: 1px solid red;
    padding: rem(95px) rem(35px) 0;
}

@keyframes startAnimatinCover {
    from {
        visibility: hidden;
    }
    90% {
        visibility: hidden;
    }
    to {
        visibility: visible;
    }
}

.container-pageCover__inner {
    position: relative;
    max-width: rem(230px);
    margin: 0 auto; //border: 1px solid red;
    animation: startAnimatinCover 3s;
}

.pageCover__title1 {
    padding-top: rem(40px);
    padding-left: rem(28px);
    font-size: rem(14px);
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-align: left;
    position: relative; //============
    &::after {
        position: absolute;
        left: 17px;
        top: 46px;
        content: '';
        width: 4px;
        height: 4px;
        background: #fc3d3d;
        border-radius: 50%;
    }
}

.pageCover__title2 {
    padding-bottom: rem(50px);
    font-size: rem(30px);
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-align: center;
    position: relative;
    &::after {
        position: absolute;
        top: -24px;
        left: 50%;
        transform: translateX(-50%);
        content: 'vérité laide';
        white-space: nowrap;
        color: rgba(229, 228, 228, 0.45);
        font-size: rem(60px);
        font-weight: 600;
        z-index: -1;
    }
}

//===========pageCover__border===============
.pageCover__border {
    position: absolute;
    content: '';
    display: block;
    width: rem(42px);
    height: rem(25px);
    background: transparent;
}

.pageCover__border-top_left {
    top: 0;
    left: 0;
    border-left: 1px solid $greyBorder;
    border-top: 1px solid $greyBorder;
}

.pageCover__border-top_right {
    top: 0;
    right: 0;
    border-right: 1px solid $greyBorder;
    border-top: 1px solid $greyBorder;
}

.pageCover__border-boottom_left {
    bottom: 0;
    left: 0;
    border-left: 1px solid $greyBorder;
    border-bottom: 1px solid $greyBorder;
}

.pageCover__border-boottom_right {
    bottom: 0;
    right: 0;
    border-right: 1px solid $greyBorder;
    border-bottom: 1px solid $greyBorder;
}

//========social icons============================
.pageCover__item__socialIcons {
    display: none;
}

//============Logo animation=============
@keyframes anim2 {
    0% {
        visibility: visible;
        left: 50%;
        transform: translate(-50%);
        width: 10%;
        height: auto;
        opacity: 1;
    }
    80% {
        visibility: visible;
        left: 50%;
        transform: translate(-50%);
        width: 100vw;
        height: auto;
        opacity: 1;
    }
}

.mainPage-header__svgLogo-container {
    width: 50%;
    height: auto;
    position: absolute;
    left: 0;
    top: 85px; //transform: translate(-50%);
    z-index: -1;
    animation: anim2 3s linear 1;
    visibility: hidden;
}

@keyframes logoAnimation {
    from {
        visibility: visible;
        opacity: 0;
        fill: #fff;
        stroke: #ffa600;
        stroke-width: 1px;
        stroke-dashoffset: 0;
        stroke-dasharray: 0;
    }
    20% {
        opacity: 1;
    }
    35% {
        stroke: #ff0000;
    }
    50% {
        stroke: #2fff00;
    }
    65% {
        stroke: #0008ff;
    }
    75% {
        fill: #fff;
        stroke: #353535;
        stroke-width: 1px;
        stroke-dashoffset: 0;
        stroke-dasharray: 106;
    }
    80% {
        fill: #747170;
    }
    90% {
        stroke-width: 0;
        opacity: 0.2;
    }
    100% {
        fill: #ffffff00;
        opacity: 0;
    }
}

.mainPage-header__svg-logo {
    fill: #000;
    width: 100%;
    height: auto;
    animation: logoAnimation 3s ease-in-out 1;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
}